<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Here are all the Books:</h1>
    <% if (books.length > 0) { %>
    <table style="width:60%">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        <% for (let book of books) {%>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.description%></td>
            <td><%= book.price %></td>
            <td><%= book.rating %></td>
        </tr>
        <% } %>
    </table>
                <% } %>
    <a href="/addbook">Add a book!</a>
    <br>
    <a href="/deletebook">Delete Last book</a>

</body>
</html>