body {
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    display:flex;
    width: 500px;
    justify-content: space-around;
}

button {
    width: 120px;
    height: 30px;
    border-radius: 0;
    background-color: rgb(66, 120, 255);
}

.logoutBtn {
    color: white;
    background-color: rgb(165, 0, 0);
    width: 100px;
    margin-top: -10px;
}

table {
    margin-bottom: 50px;
}

td {
    text-align: center;
}

nav {
    background-color: darkgreen;
    width: 100%;
}

.navbar {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header__item-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-header__item {
    padding: 15px;
}

.main-header__item:hover {
    background-color: rgb(2, 85, 2);
    padding: 15px;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.login-form {
    margin-top: 30px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.flashError {
    color: red;
}