<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Orders</title>
</head>
<body>
    <%- include('.././includes/nav.ejs') %>

    <h1>Orders: </h1>

    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
                <li class="orders__item">
                    <h1>Order - # <%= order._id %></h1>
                    <ul>
                        <% order.books.forEach(b => { %>
                            <p><%= b.book.title %>(<%= b.quantity %>)</p>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>
    <% } %>
    <br>
    <a href="/">Back to main page</a>
</body>
</html>